name: Build Hugo site

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true

      - name: Initialize Hugo Modules
        run: |
          hugo mod init ${{ github.repository }} || true
          hugo mod get -u

      - name: Build site
        run: hugo --minify --baseURL "https://victormnalves.github.io/"
